<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.why.mapper.UserDao">
    <resultMap id="userMapper" type="com.cn.why.entity.User">
        <result column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="email" property="email"/>
        <result column="sex" property="sex"/>
        <result column="phone" property="phone"/>
        <result column="city" property="city"/>
        <result column="address" property="address"/>
        <result column="birthday" property="birthday"/>
        <result column="enable" property="enable"/>
        <result column="hobby" property="hobby"/>
        <result column="update_time" property="updateTime"/>
        <result column="img" property="img"/>
    </resultMap>
    <insert id="add" parameterType="User">
        insert into member_list
        (id, username, email, password, sex, phone, city, address, birthday, enable, hobby)
        values (#{id}, #{username}, #{email}, #{password}, #{sex}, #{phone}, #{city}, #{address}, #{birthday},
                #{enable}, #{hobby})
    </insert>
    <select id="findByUsernameAndPassword" parameterType="User" resultType="User">
        select *
        from member_list
        where username = #{username}
          and password = #{password}</select>
    <select id="findAll" parameterType="User" resultMap="userMapper">
        select * from member_list left join files ON member_list.id=files.user_id left join text on
        member_list.id=text.user_id where 1=1
        <if test="username != null">
            <bind name="pattern" value="'%' + username + '%'"/>
            and username like #{pattern}
        </if>
        <if test="start != null">
            and birthday between #{start} and #{end}
        </if>
    </select>
    <select id="getCount" parameterType="User" resultType="int">
        SELECT count(id)
        FROM member_list
    </select>
    <update id="enable" parameterType="User">
        update member_list
        set enable=1 - enable
        where id = #{id}
    </update>
    <select id="findById" parameterType="User" resultMap="userMapper">
        select *
        from member_list
                 left join files ON member_list.id = files.user_id
                 left join text on
            member_list.id = text.user_id
        where member_list.id = #{id}
    </select>
    <delete id="del" parameterType="User">
        delete
        from member_list
        where id = #{id}
    </delete>
    <update id="update" parameterType="User">
        update member_list set
         update_time=now()
        <if test="username !=null">
            ,username=#{username}
        </if>
        <if test="address !=null">
            , address=#{address}
        </if>
        <if test="email !=null">
            , email=#{email}
        </if>
        <if test="enable!=null">
            , enable=#{enable}
        </if>

        <if test="password!=null">
            , password=#{password}
        </if>
        <if test="phone!=null">
            , phone=#{phone}
        </if>
        <if test="sex!=null">
            , sex=#{sex}
        </if>
        <if test="hobby!=null">
            , hobby=#{hobby}
        </if>
        <if test="hobby!=null">
            , birthday=#{birthday}
        </if>
        <if test="text!=null">
            , text=#{text}
        </if>
        where id = #{id}
    </update>
</mapper>